.transparent-shadow {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .margin-right {
        margin-right: 2em;
      }

      .margin-bottom {
        margin-bottom: 1em;
      }

      .align-center {
        text-align: center;
      }

      .box-shadow {
        box-shadow: 2px 4px 8px #3723a1;
      }

      .drop-shadow {
        filter: drop-shadow(2px 4px 8px #3723a1);
      }